.container--980 {
  max-width: 61.25rem;
}

.container--980.is--footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
}

.container--980.is--article-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  text-align: center;
}

.container--980.is--download-hero {
  text-align: center;
}

.container--980.is-center {
  text-align: center;
}

.tabs-menu {
  display: flex;
  margin-bottom: 3.75rem;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 991px) {
  .tabs-menu {
    margin-bottom: 2rem;
  }
}

.pricing--tab {
  display: inline-flex;
  padding: 0.25rem 1rem;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;

  border-radius: 300rem;

  background-color: transparent;

  font-size: 0.875rem;
  line-height: 1.2142857142857142;
  font-weight: 500;
}

.pricing--tab:global(.w--current) {
  background-color: hsla(0, 0.00%, 0.00%, 0.06);
}

.pricing--save-tag {
  margin-right: -0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 300rem;
  box-shadow: inset 0 0 0 1px #d6d8da;
  color: var(--_colors---text--secondary);
}

.tabs-content {
  overflow: visible;
}

.grid--2els {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid--2els {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }
}

.pricing--card {
  display: flex;
  padding-top: 2.375rem;
  padding-right: 2.375rem;
  padding-bottom: 2.375rem;
  padding-left: 2.375rem;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  grid-column-gap: 2.375rem;
  grid-row-gap: 2.375rem;

  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  background-color: var(--_colors---text--white);

  box-shadow: 0 0.25rem 5rem 0 rgba(0, 0, 0, 0.06), 0 0.125rem 1.25rem 0 rgba(0, 0, 0, 0.02), 0 0.125rem 0.375rem 0 rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 479px) {
  .pricing--card {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.pricing--card.is--team {
  background-image: url("https://cdn.prod.website-files.com/68da59e688b434b19dfe4efd/68ee0c763e95893f72e6c557_Beside%20Website%20Frame%20(3)%20(1).avif");
  background-position: 50% 50%;
  background-size: cover;
  color: var(--_colors---text--white);
}

.flex--24 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

@media screen and (max-width: 991px) {
  .flex--24 {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .flex--24.is--32tablet {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.flex--12 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

@media screen and (max-width: 991px) {
  .flex--12 {
    order: -9999;
  }
}

.heading-style-28 {
  font-size: 1.75rem;
  line-height: 1.32;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 991px) {
  .heading-style-28 {
    font-size: 1.5rem;
  }
}

.body--text-16 {
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.body--text-16.is--grey {
  color: var(--_colors---text--secondary);
}

.body--text-16.is--160 {
  line-height: 1.6;
}

.body--text-16.is--160.is--60margin-bottom {
  margin-bottom: 3.75rem;
}

.body--text-16.is--160.is--opacity-70 {
  opacity: 0.7;
}

.body--text-16.is--black {
  color: var(--_colors---text--primary);
}

.body--text-16.is--140 {
  line-height: 1.4;
}

.body--text-16 ol {
  padding-left: 2em;
  list-style-type: decimal;
}

.body--text-16 li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.body--text-16.is--60opacity {
  opacity: 0.6;
}

.heading-style-18 {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.heading-style-18.is--135 {
  line-height: 1.35;
}

.secondary--color {
  color: var(--_colors---text--secondary);
}

.pricing--card-access-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  color: var(--_colors---text--secondary);
}

.pricing--card-access-row.is--60opacity {
  opacity: 0.6;
  color: var(--_colors---text--white);
}

.flex--8-icons {
  display: flex;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.icon--20 {
  width: 1.25rem;
  flex: 0 0 auto;
}

@media screen and (max-width: 991px) {
  .icon--20 {
    flex: 0 0 auto;
  }
}

.icon--20.is--grey {
  color: var(--_colors---text--secondary);
}

.button-wrapper {
  display: inline-block;
}

.btn {
  position: relative;

  display: inline-flex;
  padding: 1rem 1.75rem 0.8rem;

  border-radius: 300rem;

  background-color: var(--_colors---text--primary);

  transition: all 200ms ease;

  color: var(--_colors---text--white);
  line-height: 1.1875;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.btn:where(.w-variant-ec323ece-8b09-c451-55c4-5895a7aa9eb8) {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--_colors---text--primary);
  color: var(--_colors---text--primary);
}

.btn:where(.w-variant-3fc466dd-4835-fc08-861d-dbfb0594d866) {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--_colors---pure-white\<deleted\|variable-ccc81247-f963-ea06-c556-cf4debd6041d\>);
  color: var(--_colors---pure-white\<deleted\|variable-ccc81247-f963-ea06-c556-cf4debd6041d\>);
}

.btn:where(.w-variant-f079fb08-76d2-4e02-e2c2-906b5d89e92f) {
  background-color: var(--_colors---web-pink\<deleted\|variable-dfb4fd9b-1561-6567-280f-2f4c6817be78\>);
}

.btn:where(.w-variant-66eb089b-6fc8-e197-60c3-097baacb1e00) {
  display: inline-flex;
  padding: 0rem;
  grid-column-gap: 0.375rem;
  grid-row-gap: 0.375rem;

  background-color: transparent;

  color: var(--_colors---text--primary);
  font-weight: 400;
}

.btn:where(.w-variant-caf299c2-d620-7001-dc62-9de37f37525d) {
  display: inline-flex;
  padding: 0rem;
  grid-column-gap: 0.375rem;
  grid-row-gap: 0.375rem;

  background-color: transparent;

  color: var(--_colors---kurin-primary-white\<deleted\|variable-eac0c0a9-e19a-2a8c-0933-0a03cf068d90\>);
  font-weight: 400;
}

.btn:where(.w-variant-835f2c5b-cf5c-ff95-f234-ab8eaba805de) {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.2142857142857142;
}

.btn:where(.w-variant-9e3e7fd9-9cb5-46c0-c579-f54d4913dd62) {
  padding: 0.5rem 1rem;
  background-color: hsla(240, 0.00%, 0.00%, 0.06);
  color: var(--_colors---text--primary);
}

.btn:hover:where(.w-variant-ec323ece-8b09-c451-55c4-5895a7aa9eb8) {
  background-color: var(--_colors---text--primary);
  color: var(--_colors---kurin-primary-white\<deleted\|variable-eac0c0a9-e19a-2a8c-0933-0a03cf068d90\>);
}

.btn:hover:where(.w-variant-3fc466dd-4835-fc08-861d-dbfb0594d866) {
  background-color: var(--_colors---pure-white\<deleted\|variable-ccc81247-f963-ea06-c556-cf4debd6041d\>);
  color: var(--_colors---text--primary);
}

.btn:hover:where(.w-variant-f079fb08-76d2-4e02-e2c2-906b5d89e92f) {
  background-color: var(--_colors---pink\<deleted\|variable-d710eacf-308c-de7f-570a-4ddf64a0abca\>);
}

.btn:hover:where(.w-variant-9e3e7fd9-9cb5-46c0-c579-f54d4913dd62) {
  background-color: hsla(240, 0.00%, 0.00%, 0.08);
}

.btn:active {
  transform: scale(0.97);
}

@media screen and (max-width: 991px) {
  .btn:where(.w-variant-835f2c5b-cf5c-ff95-f234-ab8eaba805de) {
    width: 100%;
    text-align: center;
  }
}

.btn.is--grey {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  background-color: hsla(240, 0.00%, 0.00%, 0.06);

  color: var(--_colors---text--primary);
}

.btn.is--grey:hover {
  background-color: hsla(240, 0.00%, 0.00%, 0.10);
}

.btn.is--tag {
  display: inline-flex;
  width: 100%;
  padding: 0.5rem 0.75rem 0.4rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.75rem;

  background-color: hsla(240, 0.00%, 0.00%, 0.06);

  color: var(--_colors---text--secondary);
}

.btn.is--download {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  background-color: hsla(240, 0.00%, 0.00%, 0.06);

  color: var(--_colors---text--primary);

  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .btn.is--download {
    justify-content: center;
    align-items: center;
  }
}

.btn.is--arrow {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.btn.is--arrow.is--white {
  background-color: var(--_colors---text--white);
  color: var(--_colors---text--primary);
}

.btn-animate-chars__bg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  border-radius: 0.25em;

  background-color: #efeeec;

  opacity: 0;
}

.btn-animate-chars__text {
  padding-top: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  white-space: nowrap;
}

.opacity--60 {
  opacity: 0.6;
}

#w-node-_3aef6c6a-6435-df53-44d9-27a86e489e4c-6e489e3e {
}
#w-node-_3aef6c6a-6435-df53-44d9-27a86e489e79-6e489e3e {
}
#w-node-a72eeebc-5ed5-2f1f-e4d5-b5cd892f4933-6e489e3e {
}
#w-node-a72eeebc-5ed5-2f1f-e4d5-b5cd892f4960-6e489e3e {
}