.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;

  display: flex;
  min-height: 3.125rem;
  padding-right: var(--_sizes---padding-lr);
  padding-left: var(--_sizes---padding-lr);
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid var(--_colors---background--secondary);

  background-color: #fcfcfc;
}

.navbar:where(.w-variant-4065cd88-54ee-2b2f-5346-93a99e508ddf) {
  color: var(--_colors---text--primary);
}

.navbar:where(.w-variant-69d2e031-2dcc-d8c1-bd14-435c508e0efc) {
  border-bottom-style: none;
  background-color: transparent;
}

.navbar.is--black {
  color: var(--_colors---text--primary);
}

.navbar.is--white {
  color: var(--_colors---pure-white\<deleted\|variable-ccc81247-f963-ea06-c556-cf4debd6041d\>);
}

.container--980 {
  max-width: 61.25rem;
}

.container--980.is--footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 3.75rem;
  grid-row-gap: 3.75rem;
}

.container--980.is--article-hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  text-align: center;
}

.container--980.is--download-hero {
  text-align: center;
}

.container--980.is-center {
  text-align: center;
}

.navbar--grid {
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 7rem 1fr 7rem;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .navbar--grid {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 4.875rem 1fr auto;
  }
}

.brand--link {
  position: relative;
  z-index: 2;
  width: 5.5rem;
}

.brand--img {
  display: block;
  width: 100%;
}

.navbar--menu {
  display: contents;
}

@media screen and (max-width: 991px) {
  .navbar--menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;

    display: none;
    overflow: auto;
    width: 100%;
    height: 100vh;
    padding-top: 5.625rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    background-color: var(--_colors---text--white);
  }
}

.navbar--menu-first {
  position: relative;
  z-index: 0;

  display: inline-flex;
  min-height: 2rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: stretch;
  grid-column-gap: 1.75rem;
  grid-row-gap: 1.75rem;

  border-radius: 0.5rem;
}

@media screen and (max-width: 991px) {
  .navbar--menu-first {
    width: 100%;
    padding: 0rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    flex: 0 0 auto;
    grid-column-gap: 1.375rem;
    grid-row-gap: 1.375rem;
  }
}

.navbar--menu-last {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .navbar--menu-last {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    flex: 0 0 auto;
  }
}

.menu--trigger {
  display: none;
}

@media screen and (max-width: 991px) {
  .menu--trigger {
    position: relative;
    z-index: 1000;

    display: flex;
    width: 2rem;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
  }
}

.relative {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .relative.is--menu-trigger {
    width: 1.25rem;
    aspect-ratio: 1/1;
  }
}

.relative.is--icon {
  align-self: center;
}

@media screen and (max-width: 991px) {
  .menu--to-open {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .menu--to-close {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    opacity: 0;
  }
}

#w-node-_992ae9b5-ffc8-cb44-c2d1-585452de3df4-52de3df1 {
}
#w-node-_992ae9b5-ffc8-cb44-c2d1-585452de3e00-52de3df1 {
  justify-self: center;
  align-self: center;
}
#w-node-_992ae9b5-ffc8-cb44-c2d1-585452de3e01-52de3df1 {
}
#w-node-_992ae9b5-ffc8-cb44-c2d1-585452de3e06-52de3df1 {
  justify-self: end;
  align-self: center;
}
@media screen and (max-width: 991px) {
  #w-node-_992ae9b5-ffc8-cb44-c2d1-585452de3e09-52de3df1 {
    justify-self: end;
  }
}