.icon--10 {
  width: 0.625rem;
}

.icon--10:where(.w-variant-86f3db28-ab0a-7da6-a635-e2b5cae5deaf) {
  transform: rotate(90deg);
}

@media screen and (max-width: 991px) {
  .icon--10.is--dropdown {
    width: 0.3125rem;
  }
}