.dropdown--nav-link {
  display: flex;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  border-radius: 0.5rem;

  background-color: var(--_colors---light-beige\<deleted\|variable-a0cc7d3c-699e-fff5-f903-3323b322e97e\>);

  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .dropdown--nav-link {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.text-style-text1 {
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

@media screen and (max-width: 991px) {
  .text-style-text1 {
    font-size: 1rem;
    line-height: 1.3;
    letter-spacing: -0.01em;
  }
}

@media screen and (max-width: 991px) {
  .text-style-text1.is--dropdown {
    font-size: 0.8125rem;
    line-height: 1;
    letter-spacing: -0.02em;
  }
}

.div-block-20 {
  display: flex;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.body-text-text3 {
  font-size: 0.875rem;
  line-height: 1.3;
}

@media screen and (max-width: 991px) {
  .body-text-text3.is--navbar-dropdown {
    display: none;
  }
}

.arrow--btn {
  display: flex;
  width: 2rem;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 0 0 auto;
  aspect-ratio: 1/1;

  border-radius: 300rem;

  box-shadow: inset 0 0 0 1px var(--_colors---text--primary);

  transition: all 200ms ease;
}

.arrow--btn:hover {
  background-color: var(--_colors---text--primary);
  color: var(--_colors---kurin-primary-white\<deleted\|variable-eac0c0a9-e19a-2a8c-0933-0a03cf068d90\>);
}

@media screen and (max-width: 991px) {
  .arrow--btn {
    width: 1rem;
  }
}

.icon--10 {
  width: 0.625rem;
}

.icon--10:where(.w-variant-86f3db28-ab0a-7da6-a635-e2b5cae5deaf) {
  transform: rotate(90deg);
}

@media screen and (max-width: 991px) {
  .icon--10.is--dropdown {
    width: 0.3125rem;
  }
}

#w-node-_19abcdb4-099e-59f1-d563-a4ec2c6bf3ff-2c6bf3ff {
  align-self: stretch;
}
#w-node-_19abcdb4-099e-59f1-d563-a4ec2c6bf400-2c6bf3ff {
}