.div-block-33 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: 19.25rem 1fr;
  grid-template-rows: auto;
}

.div-block-33:where(.w-variant-c398c9c1-6f1f-ef51-ba18-d7ce532e5810) {
  grid-template-columns: 1fr 19.25rem;
}

.flex--22 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1.375rem;
  grid-row-gap: 1.375rem;
}

.img--100.is--24border-radius {
  border-radius: 1.5rem;
}

.img--100.is--space-right {
  position: relative;
  z-index: 2;
  height: 100%;
  border-radius: 1.5rem;
}

@media screen and (max-width: 991px) {
  .img--100.is--space-right {
    flex: 0 0 auto;
    border-radius: 2.487562189054726vw;
  }
}

.img--100.is--relative {
  position: relative;
  border-radius: 1.5rem;
}

.img--100.is--automatic-1 {
  position: relative;
  left: 5.75rem;

  max-width: 27.125rem;

  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;

  backdrop-filter: blur(4.067rem);
  box-shadow: 0 0 1.356rem 0 rgba(0, 0, 0, 0.12), 0 0.813rem 2.712rem 0 rgba(0, 0, 0, 0.28);
}

@media screen and (max-width: 991px) {
  .img--100.is--automatic-1 {
    left: 0rem;
    width: 72vw;
    max-width: none;
  }
}

.img--100.is--automatic-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 1.25rem;
  bottom: 8.1875rem;

  max-width: 2.8125rem;

  border-top-left-radius: 300rem;
  border-top-right-radius: 300rem;
  border-bottom-left-radius: 300rem;
  border-bottom-right-radius: 300rem;

  box-shadow: 0 0 1.08rem 0 rgba(0, 0, 0, 0.1), 0 0.648rem 2.16rem 0 rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 991px) {
  .img--100.is--automatic-2 {
    bottom: 6.9vw;
    max-width: 13vw;
  }
}

.img--100.is--context {
  position: relative;
  border-radius: 1.5rem;
}

@media screen and (max-width: 991px) {
  .img--100.is--context {
    width: 77.6vw;
    margin-right: auto;
    margin-left: auto;
  }
}

.heading-style-18 {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.heading-style-18.is--135 {
  line-height: 1.35;
}

.body--text-18 {
  font-size: 1.125rem;
  line-height: 1.58;
  letter-spacing: -0.01em;
}

.body--text-18.is--secondary {
  color: var(--_colors---text--secondary);
}

@media screen and (max-width: 991px) {
  .body--text-18.is--secondary {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .body--text-18.is--16 {
    flex: 0 0 auto;
    font-size: 1rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 991px) {
  .body--text-18.is--home-hero {
    flex: 0 0 auto;
    font-size: 1rem;
    line-height: 1.58;
  }
}

#w-node-_5ee6b338-7be8-ca63-29f8-b4e387416ee0-87416edf {
  align-self: center;
}
#w-node-_5ee6b338-7be8-ca63-29f8-b4e387416ee7-87416edf {
  align-self: center;
}
#w-node-_5ee6b338-7be8-ca63-29f8-b4e387416ee7-87416edf:where(.w-variant-c398c9c1-6f1f-ef51-ba18-d7ce532e5810) {
  order: -9999;
}