.div-block-21 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

@media screen and (max-width: 991px) {
  .div-block-21 {
    order: -9999;
  }
}

.div-block-21.is--secondary {
  color: var(--_colors---text--secondary);
}

@media screen and (max-width: 991px) {
  .div-block-21.is--secondary {
    order: 0;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.div-block-21.is--18gap {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
}

.div-block-21.is--integrations {
  justify-content: flex-start;
  align-items: flex-end;
}

.div-block-21.is--share {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  font-weight: 500;
}

.div-block-21.is--footer {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  color: var(--_colors---text--secondary);
}

@media screen and (max-width: 991px) {
  .div-block-21.is--footer {
    order: 0;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.div-block-21.is--center {
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  color: var(--_colors---text--secondary);
}

@media screen and (max-width: 991px) {
  .div-block-21.is--center {
    order: 0;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.div-block-21.is--home-hero {
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.div-block-21.is--customerstories {
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}

.icon--16 {
  display: block;
  width: 1rem;
  flex: 0 0 auto;
}

.icon--16.is--secondary-color {
  color: var(--_colors---text--secondary);
}

.icon--16.is--absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.icon--16.is--copied {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  opacity: 0;
}

.body--text-14 {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 500;
}

.body--text-14.is--center {
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .body--text-14.is--center {
    line-height: 1;
  }
}

.body--text-14.is--center-download {
  margin-top: 1.75rem;
  color: var(--_colors---text--secondary);
  font-weight: 400;
  text-align: center;
}

.body--text-14.is--secondary {
  color: var(--_colors---text--secondary);
}

.body--text-14.is--alt-img {
  max-width: 35rem;
  color: var(--_colors---text--secondary);
}

@media screen and (max-width: 767px) {
  .body--text-14.is--alt-img {
    max-width: 21rem;
  }
}

@media screen and (max-width: 479px) {
  .body--text-14.is--alt-img {
    max-width: 16rem;
  }
}

.body--text-14.is--tertiary {
  color: #a0a2a5;
}

.body--text-14.is--100height {
  line-height: 1;
}