.feature--card {
  padding: 1.5rem 1.25rem;
  border-radius: 1.5rem;
  background-color: whitesmoke;
}

.flex--6 {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.375rem;
  grid-row-gap: 0.375rem;
}

.icon--24 {
  display: flex;
  width: 1.5rem;
  justify-content: center;
  align-items: center;
}

.heading-style-18 {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.heading-style-18.is--135 {
  line-height: 1.35;
}

.max--264 {
  max-width: 16.5rem;
}

.body--text-16 {
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.body--text-16.is--grey {
  color: var(--_colors---text--secondary);
}

.body--text-16.is--160 {
  line-height: 1.6;
}

.body--text-16.is--160.is--60margin-bottom {
  margin-bottom: 3.75rem;
}

.body--text-16.is--160.is--opacity-70 {
  opacity: 0.7;
}

.body--text-16.is--black {
  color: var(--_colors---text--primary);
}

.body--text-16.is--140 {
  line-height: 1.4;
}

.body--text-16 ol {
  padding-left: 2em;
  list-style-type: decimal;
}

.body--text-16 li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.body--text-16.is--60opacity {
  opacity: 0.6;
}

#w-node-_04bff864-7713-c4a7-91d5-f3c8a0de85c1-a0de85c1 {
}