.career--link-wrapper {
  color: var(--_colors---text--secondary);
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .career--link-wrapper {
    width: 100%;
  }
}

.career--link {
  transition: all 200ms ease;
  text-decoration: none;
}

.career--link:where(.w-variant-33085ce5-9865-1571-46e9-f6c234c5ccc7) {
  padding-left: 1rem;
  border-left: 1px solid #d6d8da;
}

.career--link:global(.w--current) {
  color: var(--_colors---text--primary);
}

.body--text-16 {
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.body--text-16.is--grey {
  color: var(--_colors---text--secondary);
}

.body--text-16.is--160 {
  line-height: 1.6;
}

.body--text-16.is--160.is--60margin-bottom {
  margin-bottom: 3.75rem;
}

.body--text-16.is--160.is--opacity-70 {
  opacity: 0.7;
}

.body--text-16.is--black {
  color: var(--_colors---text--primary);
}

.body--text-16.is--140 {
  line-height: 1.4;
}

.body--text-16 ol {
  padding-left: 2em;
  list-style-type: decimal;
}

.body--text-16 li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.body--text-16.is--60opacity {
  opacity: 0.6;
}