@media screen and (max-width: 991px) {
  .integration--link-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .integration--link-wrapper.is--integration {
    width: auto;
  }
}

.integration--link {
  transition: all 200ms ease;
  text-decoration: none;
}

.integration--link:active {
  transform: scale(0.97);
}

.div-block-21 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

@media screen and (max-width: 991px) {
  .div-block-21 {
    order: -9999;
  }
}

.div-block-21.is--secondary {
  color: var(--_colors---text--secondary);
}

@media screen and (max-width: 991px) {
  .div-block-21.is--secondary {
    order: 0;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.div-block-21.is--18gap {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
}

.div-block-21.is--integrations {
  justify-content: flex-start;
  align-items: flex-end;
}

.div-block-21.is--share {
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  font-weight: 500;
}

.div-block-21.is--footer {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  color: var(--_colors---text--secondary);
}

@media screen and (max-width: 991px) {
  .div-block-21.is--footer {
    order: 0;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.div-block-21.is--center {
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  color: var(--_colors---text--secondary);
}

@media screen and (max-width: 991px) {
  .div-block-21.is--center {
    order: 0;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
}

.div-block-21.is--home-hero {
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.div-block-21.is--customerstories {
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
}

.icon--20 {
  width: 1.25rem;
  flex: 0 0 auto;
}

@media screen and (max-width: 991px) {
  .icon--20 {
    flex: 0 0 auto;
  }
}

.icon--20.is--grey {
  color: var(--_colors---text--secondary);
}

.body--text-16 {
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.body--text-16.is--grey {
  color: var(--_colors---text--secondary);
}

.body--text-16.is--160 {
  line-height: 1.6;
}

.body--text-16.is--160.is--60margin-bottom {
  margin-bottom: 3.75rem;
}

.body--text-16.is--160.is--opacity-70 {
  opacity: 0.7;
}

.body--text-16.is--black {
  color: var(--_colors---text--primary);
}

.body--text-16.is--140 {
  line-height: 1.4;
}

.body--text-16 ol {
  padding-left: 2em;
  list-style-type: decimal;
}

.body--text-16 li {
  margin-top: 1em;
  margin-bottom: 1em;
}

.body--text-16.is--60opacity {
  opacity: 0.6;
}