@font-face {
  font-family: "OpenRunde";
  src: url("https://besideanimation-code.netlify.app/fonts/OpenRunde-Medium.woff2")
      format("woff2"),
    url("https://besideanimation-code.netlify.app/fonts/OpenRunde-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src: url("https://besideanimation-code.netlify.app/fonts/OpenRunde-Semibold.woff2")
      format("woff2"),
    url("https://besideanimation-code.netlify.app/fonts/OpenRunde-Semibold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src: url("https://besideanimation-code.netlify.app/fonts/OpenRunde-Bold.woff2")
      format("woff2"),
    url("https://besideanimation-code.netlify.app/fonts/OpenRunde-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
