@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-border: hsl(var(--border));
  --color-border-primary: hsl(var(--border-primary));
  --color-border-secondary: hsl(var(--border-secondary));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-text-primary: hsla(var(--text-primary));
  --color-text-secondary: hsla(var(--text-secondary));

  --color-background-view: hsla(var(--background-view));
  --color-background-elevated: hsla(var(--background-elevated));
  --color-background-grouped: hsla(var(--background-grouped));

  --color-palette-purple: hsla(var(--palette-purple));
  --color-palette-teal: hsla(var(--palette-purple));
  --color-palette-yellow: hsla(var(--palette-yellow));
  --color-palette-red: hsla(var(--palette-red));

  --text-body-tiny: 0.75rem;
  --text-body-small: 0.8125rem;
  --text-body-medium: 0.9375rem;
  --text-body-large: 1.0625rem;

  --shadow-card-large: 0 4px 80px 0 rgba(0, 0, 0, 0.06),
    0 2px 20px 0 rgba(0, 0, 0, 0.02), 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  --shadow-base: 0 0 46px 0 rgba(0, 0, 0, 0.08),
    0 0 8px 0 rgba(255, 255, 255, 0.06), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

  --shadow-card-list: 0 4.76446px 64.3202px rgba(221, 164, 0, 0.2),
    inset 0px 0px 5.95557px rgba(255, 255, 255, 0.17);

  --shadow-dock: 0px 1.561px 21.854px rgba(0, 0, 0, 0.1),
    inset 0px 0px 12.488px rgba(255, 255, 255, 0.42);

  --shadow-recorder: 0px 4.80702px 96.1404px rgba(0, 0, 0, 0.06),
    0px 2.40351px 24.0351px rgba(0, 0, 0, 0.02),
    0px 2.40351px 7.21053px rgba(0, 0, 0, 0.04);

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(1.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-down {
    from {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-blur {
    from {
      opacity: 0;
      filter: blur(0.3125rem);
      transform: scale(0.9) translateY(1.25rem);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: scale(1) translateY(0);
    }
  }

  @keyframes fade-in-blur-sm {
    from {
      opacity: 0;
      filter: blur(0.25rem);
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }
  }

  @keyframes fade-in-blur-xs {
    from {
      opacity: 0;
      filter: blur(0.125rem);
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }
  }

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-0.5rem) scale(0.9);
      filter: blur(0.3125rem);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
      filter: blur(0);
    }
  }

  @keyframes fade-in-scale {
    from {
      opacity: 0;
      transform: translateX(-0.125rem) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(-0.25rem);
    }
    20% {
      transform: translateX(0.25rem);
    }
    30% {
      transform: translateX(-0.25rem);
    }
    40% {
      transform: translateX(0.25rem);
    }
    50%,
    55% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(-0.125rem);
    }
    70% {
      transform: translateX(0.125rem);
    }
    80% {
      transform: translateX(-0.125rem);
    }
    90% {
      transform: translateX(0.125rem);
    }
  }

  @keyframes hover {
    from {
      transform: scale(1.2) translateY(-0.5rem);
    }
    to {
      transform: scale(0.8) translateY(0);
    }
  }

  @keyframes blip {
    from {
      opacity: 0;
      transform: scale(1.2) translateY(-0.5rem);
    }
    to {
      opacity: 1;
      transform: scale(0.8) translateY(0);
    }
  }

  @keyframes card-enter {
    0% {
      opacity: 0;
      transform: translateY(-5rem) rotateX(25deg) scale(0);
      filter: blur(2rem);
    }
    50% {
      opacity: 0.75;
      transform: translateY(-1.25rem) rotateX(12.5deg) scale(1.05);
      filter: blur(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotateX(0deg) scale(1);
      filter: blur(0);
    }
  }

  @keyframes card-transition-out {
    to {
      opacity: 1;
      transform: translateY(0rem) scale(0.9);
    }
  }

  @keyframes fade-in-icon {
    from {
      opacity: 0;
      filter: blur(0.3125rem);
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }
  }

  @keyframes shimmer {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(300%);
    }
  }

  @keyframes hover {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.75rem);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --border: 218 14% 94%;
    --border-primary: 210 5% 85%;
    --border-secondary: 220 10% 94%;
    --input: 218 14% 94%;
    --ring: 240 9% 6%;

    --foreground: 106.67 100% 100%;
    --text-primary: 106.67 100% 100%;
    --text-secondary: 216 2.3% 42.9%;

    --text-primary-light: 240 6.7% 5.9%;

    --background: 233.33 25.7% 6.9%;
    --background-view: 0 0% 100%;
    --background-elevated: 0 0% 100%;
    --background-grouped: 137.14 87.5% 100%;

    --palette-purple: 266 91% 68%;
    --palette-teal: 198 100% 53%;
    --palette-yellow: 43.27 100% 49.2%;
    --palette-red: 0 100% 59.8%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: "OpenRunde", ui-sans-serif, system-ui, -apple-system, Segoe UI,
      Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-background-elevated/10 text-text-primary;
  }
}
